@charset "UTF-8";
/* CSS Document */

/*########### CSS Grid- Layout ###################*/


html, body {
    width: 98%;
    height: 98%;
    margin: 0;
    padding: 0;
}



.header, .main, .footer {
	margin-left: 5px;
	margin-right: 5px;
}

.grid-box {
	width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 5% 95%;
    grid-template-rows: 5% 95%;
	grid-template-areas: 
		
		"sidebar header header header"
		"sidebar main main main"
		"sidebar main main main"
		"sidebar footer footer footer"
}



.grid-box-2 {
	width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 10% 90%;
	grid-template-areas: 
		
		"sidebar header header header"
		"sidebar main main main"
		"sidebar main main main"
		"sidebar footer footer footer"
}



aside {
	grid-area: sidebar;
	
	/*border-right: 5px solid #eee;*/
	
}

.grid-box-2 aside {
	background: #eee;
	
    /* Firefox */
    -moz-transition: all 0.2s ease-in;
    /* WebKit */
    -webkit-transition: all 0.2s ease-in;
    /* Opera */
    -o-transition: all 0.2s ease-in;
    /* Standard */
    transition: all 0.2s ease-in;
}

.header {
	background: #eee;
	grid-area: header;
	display: inline-grid;
}

.header {
	grid-template-columns: 90% 10%;
    grid-template-rows: 90% 10%;
	grid-template-areas: 
		"text text text anmelden";
	box-shadow: 0 0.1rem 0.3rem rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   	transition: width 1s linear;

	
}


@keyframes linear {
	
	from {
	width: 0;
	height: 0;
	opacity: 1;
		
	}
	
	to {
	width: 100%;
	height: 700px;
	opacity: 0;	
	}
	
}




p .anmelden {
	grid-area: anmelden;
	background-color: #dadada;
	
}




.main {
	background: #fff;
	grid-area: main;}

.footer {
	background: #eee;
	grid-area: footer;
}





/*########### Sidebar ###################*/


/*
body, html {
	background: #ff6600;
	margin: 0;
	padding: 0;
}*/

aside {
	width: 5%;
	background: #ffffff;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	box-shadow: 0 0.1rem 0.3rem rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    
	
}

aside ul {
	padding: 0 0 0 0; 
	width: 100%;
}

aside ul li {
	width: 100%;
	padding: 15px 0 15px 9;
	text-align: center;
	font-size: 15px;
	opacity: 0;
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

aside .ud_klick_dot {
	z-index: 110;
	background: #ff6600;
	border-radius: 1500px;
	position: absolute;
	animation: fadeIn 300ms cubic-bezier(0.42, 0, 0.58, 1);
	transform: translate(-50%, -50%);
		
}



aside.aktiv_menu 
 {

width: 10%;
}



aside.aktiv_menu .sidebar > ul li {
	opacity: 1;
	
}






.logo {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

@keyframes fadeIn {
	
	from {
	width: 0;
	height: 0;
	opacity: 1;
		
	}
	
	to {
	width: 700px;
	height: 700px;
	opacity: 0;	
	}
	
}

/*#################### Sidebar Listen Elemente ####################*/


a {
	color: #000000;
	text-decoration: none;
}

aside.aktiv_menu .sidebar > ul li {
	font-size: 30px;
	margin-bottom: 100px;
	border-bottom: 2px solid #000000;
	
}
aside.aktiv_menu .sidebar > ul li {
	margin-top: 100px;
} 


aside.aktiv_menu .sidebar > ul li a:active {
	color: #6A6A6A;
	text-decoration: none;
} 

aside.aktiv_menu .sidebar > ul li a:link {
	color: #6A6A6A;
    text-decoration: none;
}

aside.aktiv_menu .sidebar > ul li a:visited {
	color: #6A6A6A;
    text-decoration: none;
}

aside.aktiv_menu .sidebar > ul li a:hover {
	color: #6A6A6A;
    text-decoration: none;
}


aside.aktiv_menu .sidebar > ul li a:hover




/*#################### Anmelde - Button ####################*/

.header .ud_button {
	box-shadow: 0 0.1rem 0.3rem rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    animation: fadein 3s ease-out normal backwards;
}


.ud_button {
	position: relative;
	top: 20px;
	left: 20px;
	background: #ff6600;
	width: 200px;
	height: 70px;
	border-radius: 3px;
	cursor: pointer;
}


.ud_button .ud_active_1 {
	position: absolute;
	top: 20px;
	left: 20px;
	background: #ff6600;
	width: 200px;
	height: 70px;
	border-radius: 3px;
	cursor: default !important;
}



#ud_inhalt h3, #ud_inhalt p {
	opacity: 0;
	transform: scale(0.5);
}

#ud_button, #ud_inhalt h3, #ud_inhalt p, #ud_inhalt span, #senden
{
	transition: all 250ms cubic-bezier(0.7, 0, 0.3, 1)
}

.ud_active > #ud_inhalt h3, .ud_active > #ud_inhalt p {
	opacity: 1;
	transform: scale(1)M
}

#ud_click {
	position: absolute;
	z-index: 100;
	width: 100%;
	height: 40px;
	display: block;
	top: 0; 
	left: 0;
	bottom: 0;
	font-size: 30px;
	color: #fff;
	margin: 0;
	padding: 15px 0 15px 0;
	font-weight: 100;
	text-align: center;
}


.ud_active_1 {
	postion: absolute;
	top: 600%;
	right: 400%;
	transform: translate(-154%, -50%);
	background: #fff;
	width: 860px;
	height: 660px;
	box-shadow: 0 0 30px 1px #0d0e10;
	cursor: default;
}


#ud_inhalt {
	postion: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	
}

#ud_inhalt p {
	margin: 0;
	padding: 0;
	
}

#ud_inhalt h3 {
	
	
	font-weight: 100;
	display: inline-block;
	width: 80%;
	font-size: 130px;
	font-align: left;
	margin: 25px 0 25px 10%;
	color: #999;
	padding-bottom: 0px;
	cursor: default;
}


#ud_inhalt h3 span {
	font-weight: 100;
	display: inline-block;
	font-size: 20px;
	float: right;
	margin-top: 0px;
	margin-right: 0px;
	color: #999;
	cursor: pointer;
}


#ud_inhalt h3 span:hover {
	color: #ff6600;
}




#ud_inhalt label {
	text-weight: 700;
	text-tranform: uppercase;
	transform: translate(-1%, -99%);
	text-align: center;
	font-size: 60px;
	widht: 100%;
	display: inline-block;
	color: #999;
	margin-top: 0;
	padding-top: 0;
	
}

#ud_inhalt input {
	width: 100%;
	height: 100px;
	margin: 0 10% 0 10%;
	background: #f4f4f4;
	border: none;
	font-size: 20px;
	
}

#ud_inhalt input:focus{
	outline: #ff6600;
}

#ud_inhalt #senden {
	margin: 10px 10% 10px 10%;
	width: 80%;
	color: #fff;
	background: #ff6600;
	cursor: pointer;
	
}


#ud_inhalt #senden:hover {
	background: #212328;
	color: #fff;
}


/*################################################*/
/*########### Grid Layout für Main ###################*/
/*################################################*/


 .footer {
	margin-top: 100px;
	padding: 100px;
}

 

.wrapper {
	width: 90%;
	height: 90%;
	margin: 5rem auto 5rem auto;
	padding-left: 100px;
	padding-bottom: 100px;
	display: inline-grid;
	grid-template-rows: 25% 25% 25% 25%;
	grid-template-ares: 25% 25% 25% 25%;
	grid-gap: 1rem;
	grid-template-areas: 
		"box1 box1 box2 box3"
		"box1 box1 box4 box3"
		"box5 box6 box7 box7"
		"box8 box8 box9 box10";
}

.wrapper .grid-box-main {
	background: #eee;
	transition: all 200ms;
	font-size: 5rem;
	color: #fff;
	font-family: sans-serif;
	box-shadow: 0 0.1rem 0.3rem rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    animation: fadein 0.5s ease-out normal backwards;
}

.wrapper .grid-box-main:hover {
		z-index: 2;
		position: relative;
		box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.15);
		transform: translate(0, -0.0.5rem) scale(1.01);
	

	
}
.wrapper .element1 {
	grid-area: box1;
	animation-delay: 0;
}



.wrapper .element2 {
	grid-area: box2;
	animation-delay: 100ms;
}

.wrapper .element3 {
	grid-area: box3;
	animation-delay: 200ms;
}

.wrapper .element4 {
	grid-area: box4;
	animation-delay: 100ms;
}

.wrapper .element5 {
	grid-area: box5;
	animation-delay: 100ms;
}

.wrapper .element6 {
	grid-area: box6;
	animation-delay: 200ms;
}

.wrapper .element7 {
	grid-area: box7;
	animation-delay: 300ms;
}

.wrapper .element8 {
	grid-area: box8;
	animation-delay: 200ms;
}

.wrapper .element9 {
	grid-area: box9;
	animation-delay: 400ms;
}

.wrapper .element10 {
	grid-area: box10;
		animation-delay: 500ms;
}



@keyframes fadein{
	0% {transform: scale(0);}
	70% {transform: scale(1.02);}
	100% {transform: scale(1);}
	
}


















































